<?xml version="1.0"?>
<configuration>
  <system.web>
	  <authorization>
		  <deny users="?"/>
	  </authorization>

  </system.web>
</configuration>
<!--The Web.config file specifies that all unknown users of the Web application must be denied access to the pages contained in the Checkout folder
 However, if the user has registered an account and is logged on, they will be a known user and will have access to the pages in the Checkout folder.-->